:root {
    --main-color: #0dcab6;
    --scoundry-color: #2c4755;
    --section-padding: 60px;
    --background-color: #f6f6f6;

}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
}

.special-heading+p {
    text-align: center;
    color: #797979;
    margin: 0px;
    padding: 0;
    margin-top: -30px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;

    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rols */

/* Start Header */

header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
}

header .links .icon span:first-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

header .links .icon span:nth-child(3) {
    width: 100%;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    z-index: 1;
    transition: 0.3s;
    display: none;

}

header .links ul::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 5px;
    top: -19px;

}

header .links:hover ul {
    display: block;
}

header .links ul li a {
    display: block;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

header .links ul a:hover {
    padding-left: 25px;
}

header .links ul li:not(:last-child) {
    border-bottom: 1px #ddd solid;
}



.landing {
    background-image: url(../images/main-cover.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    position: sticky;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;

}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Header */
.features {
    padding-top: var(--section-padding);
    padding-right: var(--section-padding);
    background-color: var(--background-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-around;
    text-align: center;
    max-width: 100%;
    gap: 20px;
}

.features .feat {
    padding: 20px;

}

.features .container .feat i {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 55px;
}

.features .container .feat h3 {
    font-weight: 800px;
    margin: 30px 0;

}

.features .container .feat p {
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services-content {
    margin-top: 100px;
    display: grid;
    justify-content: space-around;
    align-content: space-evenly;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services-content .col .srv .text {
    flex: 1;
}

.services-content .col .srv .text h3 {
    margin: 0;
}

.services-content .col .srv .text p {
    color: 777;
    font-weight: 300;
    line-height: 1.6;
}

/* .services-content .col .img {
    float: left;
    border: 50px solid #2c4755;
    width: 0;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: 300px;
    top: -60px;

} */
.services-content .col .img {
    text-align: center;
    position: relative;
}

.services-content .col .img::before {
    content: "";
    background-color: var(--scoundry-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media (max-width: 1199px) {
    .image-media {
        display: none;
    }
}

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}


.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;


}

.portfolio img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .text {
    padding: 20px;
}

.portfolio .portfolio-content .card .text h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .text p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-content .image::before {
    content: "";
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    left: 0;
    z-index: -1;

}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
    top: -40px;
    right: -150px;
}


.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    margin-bottom: 50px;
    font-weight: bold;
    line-height: 2;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);

}


.about .about-content .text .p2 {
    color: #777;
    line-height: 2;
}

@media (max-width: 999px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about .about-content .image {
        margin: 0 auto 60px;
    }

    .about .about-content .image::before {
        display: none;
    }

    .about .about-content .image::after {
        display: none;
    }
}

.contact {
    background-color: var(--background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}

.contact .text {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .text .lable {
    font-size: 35px;
    font-weight: 800;
    color: var(--scoundry-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .text .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 30px;
    text-decoration: none;
}

.contact .text .social {
    color: var(--scoundry-color);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .text .social i {
    margin-left: 10px;
    color: var(--scoundry-color);
}

@media (max-width: 767px) {

    .contact .text .lable,
    .contact .text .link {
        font-size: 25px;
    }
}

footer {
    background-color: var(--scoundry-color);
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
}

footer span {
    color: var(--main-color);
}